$dark-blue: #363f5f;
$soft-blue: #969cb3;
$ice-white-background: #f0f2f5;
$soft-white: #fff;
$white: white;
$dark-green: #2d4a22;
$medium-green: #49aa26;
$green: #12a454;
$light-green: #3dd705;
$red: #e92929;
$light-red: #e22e2e;
$dark-red: #ac0d0d;